<% layout("layouts/boilerplate.ejs") %>

<body>
	<div class="row">
		<div class="col-6 offset-3">
			<h3>Edit the Listing</h3>
			<form
				action="/listings/<%= listing._id %>?_method=PUT"
				method="post"
				novalidate
				class="needs-validation"
				enctype="multipart/form-data"
			>
				<div class="title mb-3">
					<label for="title" class="form-label">Title</label>
					<input
						type="text"
						name="listing[title]"
						placeholder="Enter the Title"
						class="form-control"
						value="<%= listing.title %>"
						required
					/>
					<div class="invalid-feedback">Enter a nice Title!</div>
				</div>
				<div class="mb-3">
					<label for="URL" class="form-label">Upload image</label>
					<input class="form-control" type="file" name="listing[image]" />
				</div>

				<div class="row">
					<div class="price mb-3 col-md-4">
						<label for="price" class="form-label">Price</label>

						<input
							type="number"
							name="listing[price]"
							placeholder="Your Price"
							class="form-control"
							value="<%= listing.price %>"
							required
						/>
						<div class="invalid-feedback">What's the price?</div>
					</div>
					<div class="location mb-3 col-md-8">
						<label for="location" class="form-label">Location</label>

						<input
							type="text"
							name="listing[location]"
							placeholder="Location"
							class="form-control"
							value="<%= listing.location %>"
							required
						/>
						<div class="invalid-feedback">Where's the place?</div>
					</div>
				</div>

				<div class="country mb-3">
					<label for="country" class="form-label">Country</label>

					<input
						type="text"
						name="listing[country]"
						placeholder="Country"
						class="form-control"
						value="<%= listing.country %>"
						required
					/>
					<div class="invalid-feedback">Country?</div>
				</div>
				<div class="description mb-3">
					<label for="description" class="form-label">Description</label>

					<textarea
						name="listing[description]"
						placeholder="Describe your listing..."
						class="form-control"
						required
					>
<%= listing.description %></textarea
					>
					<div class="invalid-feedback">Please describe your listing</div>
				</div>
				<button class="btn btn-danger mb-3">Edit the Listing</button>
			</form>
		</div>
	</div>
</body>
